html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.footer .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

/* https://github.com/ng-bootstrap/ng-bootstrap/issues/2338 */
/* fix for cut-off borders of cards in accordion */
.accordion#accordionMatches .card:first-of-type { border: 1px solid rgba(0,0,0,.125); }
